<% product.variants.each do |variant| %>
    <%= form_tag(product_gift_send_path(@product,variant), method: "post", id:"form_#{variant.id}") do %>
    <tr 
        <% if(variant.stock < 1) %>
            class="table-danger"
        <% end %>
        >
        <td><%= variant.name %></td>
        <td><%= variant.stock %></td>
        
        <td>
            <% if(variant.stock.positive?) %>
                <%= text_field_tag (:email), nil, placeholder: 'Email',class:'form-control' %>
            <% end %>
        </td>
        <td>
        <% if(variant.stock.positive?) %>
            <%= button_to  "Send Gift", nil, class: 'btn btn-info btn-sm'  %>
        <% else%>
            <%= link_to  "Not aviable", "#", class: 'btn btn-danger btn-sm' %>
        <% end %>
        </td>
    </tr>
    <% end %>
<% end %>