<tr>
    <td><%= product.id %></td>
    <td>
    <%= link_to product_path(product) do %>
        <%= product.name %>
    <% end %>
    </td>
    <%# Default currency tanımladık, helper klasöründe application_helper içerisinde %>
    <td><%= product.price %> <%= default_currency %></td>
    <td><%= product.description %></td>
    <td>
        <%= link_to  'Edit', edit_product_path(product), class: 'btn btn-warning btn-sm' %>
        <%= link_to  'Delete', product_path(product), method: :delete, data: { confirm: "Silmek İstediğinize Emin misiniz ? " }, class: 'btn btn-danger btn-sm' %>
    </td>
</tr>