<h1> Products </h1>

<p>
    <%= link_to "New Product", new_product_path(), class: 'btn btn-primary' %>
</p>

<table class="table table-bordered">
    <tr>  
        <td>id</td>
        <td>Name</td>
        <td>Price</td>
        <td>Description</td>
        <td style="width: 200px; text-align:center"></td>
    </tr>

    <% @products.each do |product| %>
        <tr>
            <td><%= product.id %></td>
            <td><%= product.name %></td>
            <td><%= product.price %> TL</td>
            <td><%= product.description %></td>
            <td>
                <%= link_to  "Show", product_path(product), class: 'btn btn-primary btn-sm' %>
                <%= link_to  "Edit", edit_product_path(product), class: 'btn btn-warning btn-sm' %>
                <%= link_to  "Delete", product_path(product), method: :delete, data: { confirm: "Silmek İstediğinize Emin misiniz ? " }, class: 'btn btn-danger btn-sm' %>
            </td>
        </tr>
    <% end %>
</table>