<h1> <%= @product.name %></h1>
<p>
    <%= link_to  "Back", products_path(), class: "btn btn-primary btn-sm" %>
    <%= link_to  "Edit", edit_product_path(@product), class: "btn btn-warning btn-sm" %>
</p>

<p>
    <strong> Product Name : </strong> <%= @product.name %>
</p>

<p>
    <strong> Product Price : </strong> <%= @product.price %> TL
</p>

<p>
    <strong> Product Description : </strong> <%= @product.description %>
</p>
<hr>
<h2>Variants</h2>
<table class="table table-bordered">
    <tr>
        <td>Name</td>
        <td>Stock</td>
        <td>Sending Mail</td>
        <td style="width: 50px"></td>
    </tr>
    <% if(@product.variants.any?) %>
        <%= render partial: 'variants/select_variant', locals: { product: @product }  %>
    <% end %>
</table>